.post {
  margin: auto;
  margin-bottom: 30px;
}

.reign-bio {
  text-align: left;
}

.edit {
  background-color: transparent;
  border-style: none;
  font-size: 20px;
  width: auto;
}

.right {
  margin: auto;
  margin-right: -70px;
  margin-top: -50px;

}

.property {
  text-align: left;
  margin-bottom: 20px;
  width: 120%;
}

.property input {
  border-radius: 10px;
}

label {
  font-weight: bold;
  
}

main {
  z-index: 1;
}

.userConfig {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  box-shadow: 4px 4px rgb(0,0,0, 0.3);
}
