
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Jacquard+12&family=Modern+Antiqua&family=Russo+One&display=swap');

:root {
  --red: #9C1D1D;
  --yellow: #FBDB00;
  --lightYellow: #FBEC89;
  --white: #FFFFFF;
}


body {
  padding: 0px;
  margin: 0px;
  background-image: url("https://cdn.leonardo.ai/users/16b038aa-0432-4df2-a04f-32757ead0519/generations/1f09181d-61c8-6f50-85d4-0bee2381a4a4/gemini-2.5-flash-image-preview_create_a_beutifull_background_for_a_medieval_website_a_magic_medieval_forest_4k-0.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;

}

header {
  background-color: var(--lightYellow);
  padding: 0px 20px;
  margin: 0px;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

main {
  margin-top: 30px;
}

h1 {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: 'Modern Antiqua';
  color: var(--white);
  font-size: 25px;
}

p, span, body, .sendBtn, input, textarea {
  font-family: 'Eagle Lake';
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  justify-content: center;
}

.center {
  margin: auto;
  text-align: center;
  justify-content: center;
  
}

.sendBtn {
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--red);
  color: white;
  border-width: 0px 3px 3px 0px;
  border-color: rgb(0,0,0, 0.3);
  margin-top: 30px;
  margin-left: 40px;
}

button {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.1) translateY(-2px);
}

.letter {
  width: 100%;
  height: 200px;
  text-align: justify;
  padding: 30px;
  font-size: 12px;
  font-style: italic;
}

.greeting {
  width: 100%;
  height: 10px;
  padding: 5px 5px 5px 30px;
  font-size: 18px;
  font-style: normal;
}

.input-div {
  width: 50%;
}

#create-letter-div, .post {
  background-color: #FEEBB2;
  width: 50%;
  padding: 40px 100px 40px 40px;
}

input, textarea {
   background-color: transparent;
  border-radius: 5px;
  border-color: rgb(238, 211, 125, 0.5);
}

.post letter {
  width: 100%;
  max-height: fit-content;
}

.post letter, .post greeting {
  padding: 0px;
  max-height: fit-content;
}

.post {
  max-height: 600px;
  padding-bottom: 0px;
  gap: 2px;
  margin-bottom: 30px;
}
.reign {
  transition: all 0.5s ease-in-out;
}
.reign:hover {
  animation: addBorder 0.5s forwards;
  cursor: pointer;
}

@keyframes addBorder {
  0%   { border-style: none;
  }  
  100% { border-style: solid; border-width: 3px; border-radius: 10px; border-color: var(--red);
  }  
}

.post 
.letter {
  width: 100%;
  height: fit-content;
  text-align: justify;
  padding-top: 30px;
  font-size: 12px;
  font-style: italic;
}

.postBtns {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center; 
  text-align: center;
  gap: 15px;
  margin-top: 30px;
  width: 100%;
  margin-left: 35px;
}

.postBtns button {
    background: linear-gradient(to bottom, #804a4a, #502c2c);
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
}

.postBtns span {
  	margin-top: -20px;
 	padding: 0px;
}

.postBtns p {
	font-size: 12px;
 	padding: 0px;
}

.postBtns button:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.sword, .heart {
 	transition: transform 0.4s ease-in-out;
 	display: inline-block; 
 	transform-style: preserve-3d; 
}

.sword:hover {
	transform: scale(1.4) rotateX(120deg) rotateY(20deg);
}

.heart:hover {
	transform: scale(1.4) rotateY(180deg);
}

.audio-player {
	position: fixed;
	left: 0px;
	bottom: 10px;
	display: flex;
	align-items: center; 
	justify-content: space-between; 
	background: #870808;
	background: linear-gradient(90deg, rgba(135, 8, 8, 0.7) 0%, rgba(255, 173, 173, 0.5) 100%);
	border-radius: 20px;
	padding: 5px 15px;
	height: 50px;
	width: 250px;
	box-sizing: border-box;
	box-shadow: 3px 3px 3px rgba(135, 8, 8, 0.4);
  	z-index: 1000;
}

.musicTitle {
	color: var(--white);
	font-size: 14px;
	font-weight: bold;
}

.playerBtns {
	display: flex;
	gap: 5px;
}

.playerBtns button {
	background-color: transparent;
	border: none;
	font-size: 16px;
	cursor: pointer;
}
.volume-container {
	position: relative;
	display: inline-block;
}

.volume-slider {
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-470%) translateX(-65%) rotateZ(-90deg);
	width: 0;
	opacity: 0;
	pointer-events: none;
	transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.volume-container:hover .volume-slider {
	width: 120px;
	opacity: 1;
	pointer-events: auto;
}


.musicTitle {
	display: flex;
	flex-direction: row;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid #fff;
	overflow: hidden;
}

.scrolling-text {
	display: flex;
	padding-left: 0%;
	animation: scroll-left 8s linear infinite;
	border-style: none;
	overflow: hidden;
}

@keyframes scroll-left {
 	0%   { 
 		transform: translateX(0);
  		overflow: hidden;}    
  	100% {
  		transform: translateX(-100%); 
  		overflow: hidden;
  	}   
}

.menu {
	position: fixed;
	top: 20px;
	right: 10px;
}

.menu select {
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--lightYellow);
	cursor: pointer;
	border-style: none;
	box-shadow: 2px 2px rgb(0,0,0,0.3);
}

.nameTitle {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 30px;
}

.nameTitle h6 {
	margin-top: -20px;
}

.creator {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 600px) {
  	.postBtns button {
    	min-width: 50px;
  	}
  
  	.postBtns, .answer {
    	margin: auto;
    	text-align: center;
    	justify-content: center;
    	padding-left: 30px;
  	}
}